@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/** tailwind.css */
@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: Poppins;
  font-weight: 400;
  font-display: auto;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap')
    format('woff');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto';
  background: rgb(31, 41, 55);
}

/* width */
::-webkit-scrollbar {
  position: absolute;
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(17, 17, 17, 0.349);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
